[submodule "unkovim"]
	path = unkovim
	url = https://github.com/unkovim/unkovim.git
[submodule "daiben"]
	path = daiben
	url = https://github.com/unkovim/daiben.git
[submodule "unchi"]
	path = unchi
	url = https://github.com/unkovim/unchi.git
