[submodule "unkovim"]
	path = unkovim
	url = https://github.com/unkovim/unkovim.git
[submodule "plumber"]
	path = plumber
	url = https://github.com/unkovim/plumber.git
[submodule "asshole"]
	path = asshole
	url = https://github.com/unkovim/asshole.git
